/* Шрифты */
@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

/* ********************************************************** */
/* *********             Общие стили             ************ */
/* ********************************************************** */
html,
body {
  padding: 0;
  margin: 0;
}

body {
  min-width: 1200px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  color: #464646;
  background-color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin-left: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.btn {
  position: relative;
  display: block;
  width: 200px;
  padding: 10px 0;
  border: none;
  box-shadow: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #F0C52E;
  transition: height .5s;
  transform: translateY(-50%);
}

.btn:hover::before,
.btn:focus::before {
  height: 40px;
}

.btn:active {
  color: rgba(0, 0, 0, 0.5);
}

/* ********************************************************** */
/* *********               Шапка                 ************ */
/* ********************************************************** */
.header-main {
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 157px;
  background: linear-gradient(#fff 40px, #F7E296 40px);
}

.header-main a {
  text-decoration: none;
  color: #000;
}

.header-main__logo {
  display: block;
  margin-left: 60px;
  margin-bottom: 3px;
  padding-top: 15px;
  width: 170px;
  font-size: 48px;
  line-height: 50px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
}

.header-main__logo:hover {
  opacity: 0.6;
}

.header-main__logo:active {
  opacity: 0.3;
}

/* ********************************************************** */
/* *********             Блок поиска             ************ */
/* ********************************************************** */
.header-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 59px;
  margin-bottom: 7px;
}

.header-info__form {
  position: relative;
  display: flex;
  box-sizing: border-box;
  margin-right: auto;
  padding: 12px 0;
}

.header-info__form::before {
  content: "";
  position: absolute;
  top: 23px;
  left: 6px;
  width: 16px;
  height: 16px;
  background-image: url("../img/svg/search.svg");
}

.header-info__form input[type="search"] {
  width: 355px;
  padding-top: 0px;
  padding-right: 0;
  padding-bottom: 11px;
  padding-left: 42px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0.01em;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid transparent;
  opacity: 0.3;
}

.header-info__form input[type="search"]:focus {
  border-bottom: 2px solid #000;
  opacity: 1;
  outline: none;
}

.header-info__form-button {
  display: none;
  width: 85px;
  padding: 13px 0;
  font-size: 15px;
  line-height: 19px;
  background-color: transparent;
  border: 2px solid #000;
}

.header-info__form-button:hover,
.header-info__form-button:focus {
  display: block;
  color: #fff;
  background-color: #000;
}

.header-info__form-button:active {
  display: block;
  color: #fff;
  opacity: 0.3;
  background-color: #000;
  outline: none;
}

.header-info__form input[type="search"]:focus ~ .header-info__form-button,
.header-info__form input[type="search"]:focus ~ .header-info__form-button:focus {
  display: block;
}

/* ********************************************************** */
/* *********          Сервисный блок             ************ */
/* ********************************************************** */
.header-services {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 510px;
  margin: 0;
  padding-top: 10px;
  padding-left: 0;
  list-style-type: none;
}

.header-services__item {
  position: relative;
  margin-left: 27px;
}

.header-services__item:first-child {
  margin-right: auto;
  margin-left: 0;
}

.header-services__item--out {
  margin-right: auto;
  margin-left: -9px;
}

.header-services__ico {
  position: absolute;
  top: 14px;
  left: 14px;
}

.header-services__link {
  display: block;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 35px;
}

.header-services__item:hover {
  opacity: 0.6;
}

.header-services__item:active {
  opacity: 0.3;
}

.header-services__link--name {
  box-sizing: border-box;
  max-width: 270px;
  padding-left: 36px;
  letter-spacing: 0.02em;
  word-break: break-all;
}

.header-services__link--out {
  padding-left: 2px;
}

/* ********************************************************** */
/* *********               Навигация             ************ */
/* ********************************************************** */
.header-nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 56px;
  padding-bottom: 0;
  padding-left: 60px;
}

.header-nav__item {
  display: block;
  padding: 6px 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.header-nav__item:hover {
  opacity: 0.6;
}

.header-nav__item:active {
  opacity: 0.3;
}

.header-nav__item--catalog {
  position: relative;
  margin-right: auto;
  padding-right: 40px;
}

.header-nav__item--catalog::before,
.header-nav__item--catalog::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 11px;
  width: 16px;
  height: 3px;
  background-color: #b8a974;
}

.header-nav__item--catalog::after {
 transform: rotate(90deg);
}

.header-nav__item--insurance {
  margin-left: 35px;
}

.header-nav__item--contacts {
  margin-left: 107px;
}

/* ********************************************************** */
/* *********           Выпадающее меню           ************ */
/* ********************************************************** */
.header-menu {
  display: none;
  z-index: 10;
  top: 30px;
  left: 0px;
  width: 1102px;
  margin: 0;
  padding-top: 19px;
  padding-left: 58px;
  background-color: #F7E296;
  list-style-type: none;
}

.header-menu__item {
  display: flex;
  flex-flow: column;
  width: 200px;
}

.header-menu__item:first-child {
  margin-right: 40px;
}

.header-menu__item a {
  display: block;
  font-size: 15px;
  line-height: 36px;
  word-break: break-all;
}

.header-menu__item a:hover {
  opacity: 0.6;
}

.header-menu__item a:active {
  opacity: 0.3;
}

.header-nav__item--catalog:hover ~ .header-menu,
.header-menu:hover {
  position: absolute;
  display: flex;
  min-height: 140px;
}

a.header-menu__item--active,
a.header-menu__item--active:hover,
a.header-menu__item--active:active {
  opacity: 0.3;
  cursor: default;
}

/* ********************************************************** */
/* *********             Слайдер                 ************ */
/* ********************************************************** */
.slider {
  position: relative;
  width: 1160px;
  min-height: 524px;
  margin-top: -111px;
  margin-right: auto;
  margin-bottom: 69px;
  margin-left: auto;
}

/* блок кнопок */
.slider__control {
  display: flex;
  position: absolute;
  z-index: 10;
  right: -1px;
  bottom: 184px;
  width: 160px;
  height: 12px;
}

.slider__control label {
  position: relative;
  display: block;
  width: 10px;
  height: 10px;
  margin-right: 21px;
  border: 1px solid #050505;
  border-radius: 50%;
  cursor: pointer;
}

/* Переключение слайдов */
.slider__content,
.slider__desc {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider__item {
  display: none;
}

.slider__btn-1:checked ~ .slider__control label[for="slide-1"]::after,
.slider__btn-2:checked ~ .slider__control label[for="slide-2"]::after,
.slider__btn-3:checked ~ .slider__control label[for="slide-3"]::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 2px;
  height: 2px;
  border: 1px solid #050505;
  border-radius: 50%;
}

.slider__btn-1:checked ~ .slider__content .slider__item:nth-child(1),
.slider__btn-2:checked ~ .slider__content .slider__item:nth-child(2),
.slider__btn-3:checked ~ .slider__content .slider__item:nth-child(3) {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 2px;
}

.slider__item::before {
  position: absolute;
  top: 63px;
  right: 45px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 180px;
  letter-spacing: 0.01em;
  color: #FFF;
}

.slider__item:nth-child(1)::before {
  content: "01";
}
.slider__item:nth-child(2)::before {
  content: "02";
}
.slider__item:nth-child(3)::before {
  content: "03";
}

.slider__img {
  box-sizing: border-box;
  width: 50%;
  padding-left: 92px;
}

.slider__item:nth-child(2) .slider__img{
  padding-top: 15px;
  padding-left: 112px;
}

.slider__item:nth-child(3) .slider__img{
  padding-top: 67px;
  padding-left: 29px;
}

.slider__info {
  position: relative;
  box-sizing: border-box;
  padding-top: 32px;
  padding-left: 21px;
  width: 50%;
}

.slider__info::before {
  content: "";
  position: absolute;
  top: 37px;
  right: 459px;
  width: 100px;
  height: 7px;
  background-color: #fff;
}

.slider__info h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 1.2em;
  letter-spacing: 0.01em;
}

.slider__info > p {
  margin-top: -28px;
  margin-bottom: 43px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #464646;
}

.slider__btn {
  width: 220px;
  margin-bottom: 17px;
}

.slider__desc {
  display: flex;
  flex-wrap: wrap;
}

.slider__desc li {
  padding-right: 77px;
}

.slider__value {
  margin-bottom: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 1.2em;
  letter-spacing: 0.01em;
}

.slider__legend {
  margin-top: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
}

/* ********************************************************** */
/* *********        Блок иконок-ссылок           ************ */
/* ********************************************************** */
.shop {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 185px;
}

.shop__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 1160px;
  list-style-type: none;
}

.shop__item {
  position: relative;
  display: block;
  width: 160px;
  min-height: 240px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2em;
  letter-spacing: 0.01em;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
}

.shop__item::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 35px;
  background-color: #F7E296;
  transition: all .5s;
}

.shop__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 2px;
  width: 160px;
  height: 160px;
  background-position: center;
  background-repeat: no-repeat;
}

.shop__item--real::after {
  background-image: url(../img/Shop_items/real.svg);
}
.shop__item--mono::after {
  background-image: url(../img/Shop_items/mono.svg);
  background-position: bottom;
}
.shop__item--cam::after {
  background-image: url(../img/Shop_items/cam.svg);
  background-position-x: 49px;
  background-position-y: 39px;
}
.shop__item--jav::after {
  background-image: url(../img/Shop_items/jav.svg);
  background-position-y: 50px;
}
.shop__item--watch::after {
  background-image: url(../img/Shop_items/watch.svg);
  background-position-x: 54px;
  background-position-y: 33px;
}
.shop__item--quadro::after {
  background-image: url(../img/Shop_items/quadro.svg);
  background-position-y: 50px;
}

.shop__item:active {
  color: rgba(0, 0, 0, 0.3);
}

.shop__item:hover::before,
.shop__item:focus::before,
.shop__item:active::before {
  background-color: #F0C52E;
}

.shop__item:active::after {
  opacity: 0.6;
}

/* ********************************************************** */
/* *********   Нижний слайдер - блок услуг       ************ */
/* ********************************************************** */
.support {
  width: 100%;
  min-height: 290px;
  margin-bottom: 91px;
  background-color: #E5E5E5;
}

.support__container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  justify-content: flex-start;
}

.support__nav {
  position: relative;
  z-index: 1;
  top: -22px;
  left: -2px;
  width: 283px;
  padding-left: 5px;
  margin-right: 115px;
}

.support__nav::after {
  content: "";
  position: absolute;
  top: -81px;
  right: 0;
  width: 7px;
  min-height: 320px;
  background-color: #000;
}

/*  Стилизация кнопок  */
.support__nav label {
  position: relative;
  display: block;
  padding: 10px 0;
  margin-bottom: 24px;
  width: 160px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2em;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  transition: color 0.3s;
  cursor: pointer;
}

.support__nav label:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 16px;
  left: 0;
  width: 160px;
  height: 8px;
  background-color: #F0C52E;
  transition: 0.2s;
}

.support__nav label:hover::after {
  top: 0px;
  height: 40px;
  background-color: #f0c52e;
}

.support__btn-1:checked ~ .support__nav label[for="support-1"],
.support__btn-2:checked ~ .support__nav label[for="support-2"],
.support__btn-3:checked ~ .support__nav label[for="support-3"] {
  color: #F7E184;
}

.support__btn-1:checked ~ .support__nav label[for="support-1"]::after,
.support__btn-2:checked ~ .support__nav label[for="support-2"]::after,
.support__btn-3:checked ~ .support__nav label[for="support-3"]::after {
  top: 0;
  height: 40px;
  width: 280px;
  background-color: #000;
}

/*  Стилизация слайдов  */
.support__text {
  position: relative;
  top: -32px;
  width: 460px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.support__item {
  display: none;
}

.support__btn-1:checked ~ .support__text .support__item:nth-child(1),
.support__btn-2:checked ~ .support__text .support__item:nth-child(2),
.support__btn-3:checked ~ .support__text .support__item:nth-child(3) {
  display: block;
}

.support__item h3 {
  margin: -1px;
  margin-bottom: 30px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 1.2em;
  letter-spacing: 0.01em;
  color: #000;
}

.support__item p {
  margin-top: -3px;
  margin-bottom: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #464646;
}

.support__item::after {
  content: "";
  position: absolute;
  display: block;
}

.support__item--1::after {
  top: 16px;
  left: 556px;
  width: 136px;
  height: 164px;
  background: url(../img/svg/delivery.svg) no-repeat;
}

.support__item--2::after {
  top: -9px;
  left: 541px;
  width: 171px;
  height: 195px;
  background: url(../img/svg/warranty.svg) no-repeat;
}

.support__item--3::after {
  top: -10px;
  left: 532px;
  width: 156px;
  height: 188px;
  background: url(../img/svg/credit.svg) no-repeat;
}

/* ********************************************************** */
/* *********              Партенры               ************ */
/* ********************************************************** */
.partners {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 63px;
}

.partners a {
  position: relative;
  display: block;
  width: 260px;
  height: 100px;
  text-decoration: none;
}

.partners a::before {
  content: "";
  position: absolute;
  width: 260px;
  height: 100px;
  background-position: center;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url("../img/svg/grayscale.svg#greyscale");
  filter: gray;
  -webkit-filter: grayscale(1);
  opacity: 0.2;
}

.partners a:nth-of-type(1)::before {
  background-image: url("../img/dji.jpg");
}

.partners a:nth-of-type(2)::before {
  background-image: url("../img/sp.jpg");
}

.partners a:nth-of-type(3)::before {
  background-image: url("../img/gopro.jpg");
}

.partners a:nth-of-type(4)::before {
  background-image: url("../img/vive.jpg");
}

.partners a:hover::before,
.partners a:focus::before {
  filter: grayscale(0%);
  filter: none;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -webkit-filter: grayscale(0);
  opacity: 1;
}

/* ********************************************************** */
/* *********            Блок информации          ************ */
/* ********************************************************** */
.info {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 83px;
}

.info__about,
.info__adress {
  width: 560px;
}

.info h2 {
  margin-top: 70px;
  margin-right: 0;
  margin-bottom: 40px;
  margin-left: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 1.2em;
  letter-spacing: 0.01em;
  color: #000;
}

.info h2::before {
  content: "";
  position: relative;
  z-index: 1;
  top: -41px;
  display: block;
  width: 80px;
  height: 7px;
  background-color: #000;
}

.info p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}

.info__about p {
  width: 475px;
}

.info__about p:first-of-type {
  letter-spacing: 0.01em;
}

.info__transport {
  position: relative;
  margin-bottom: 54px;
  padding-top: 37px;
  padding-left: 1px;
  list-style-type: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  color: #000;
}

.info__transport li {
  position: relative;
  padding-left: 35px;
}

.info__transport li::before {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  left: 0px;
  margin-top: 15px;
  border: 3px solid #D0D0D0;
  border-radius: 50%;
}

.info__adress p{
  margin-bottom: 39px;
  letter-spacing: 0.01em;
}

.info__btn  {
  width: 260px;
  margin-left: 3px;
}

.info__map {
  display: block;
  width: 560px;
  height: 222px;
  margin-bottom: 69px;
  background-color: #ccc;
}

/* ********************************************************** */
/* *********            catalog.html             ************ */
/* ********************************************************** */
/* ********************************************************** */
/* *********         Заголовок каталога          ************ */
/* ********************************************************** */
.header-main__catalog {
  padding-bottom: 46px;
  margin-bottom: 34px;
}

.catalog-header {
  width: 1100px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-left: 62px;
}

.catalog-header h1{
  margin: 0;
  margin-bottom: 14px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 1.2em;
  letter-spacing: 0.01em;
  color: #000;
}

.crumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 36px;
  letter-spacing: 0.01em;
}

.crumbs__item {
  position: relative;
  display: block;
  padding-right: 38px;
  color: #000;
  text-decoration: none;
  opacity: 0.3;
}

.crumbs li {
  position: relative;
}

.crumbs li::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 19px;
  width: 4px;
  height: 7px;
  background-image: url("../img/svg/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.crumbs li:last-child::after {
  background-image: none;
}

.crumbs__item:hover {
  opacity: 0.6;
}

.crumbs__item:active {
  opacity: 0.1;
}

.crumbs__item:last-child:hover,
.crumbs__item:last-child:active {
 opacity: 0.3;
}

/* ********************************************************** */
/* *********              Каталог                ************ */
/* ********************************************************** */
.catalog-page {
  width: 100%;
  background: linear-gradient(to right, #dcdcdc 0%, #dcdcdc 45%, #ebebeb 50%, #ebebeb 100%);
}

.catalog-body {
  width: 100%;
  background: linear-gradient(to right, #eee 0%, #eee 45%, #fff 50%, #fff 100%);
}

.catalog-page__wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
}

.filter {
  box-sizing: border-box;
  width: 330px;
  padding: 0 67px 0 62px;
  background-color: #dbdbdb;
}

.catalog-body__filter {
  box-sizing: border-box;
  width: 330px;
  padding-top: 70px;
  padding-right: 67px;
  padding-left: 62px;
  background-color: #eee;
  opacity: 0.99;
}

.sorting {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  width: 832px;
  padding: 17px 0 0 75px;
  background-color: #ebebeb;
}

.catalog__list {
  width: 760px;
  padding-top: 70px;
  padding-left: 70px;
  background-color: #fff;
}

.filter__title,
.sorting__title {
  margin: 0;
  padding: 25px 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.2em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sorting__title {
  padding: 0;
  padding-top: 8px;
}

.sorting__bar {
  list-style-type: none;
  padding: 0;
  padding-left: 44px;
  padding-right: 40px;
  margin: 0;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 540px;
  align-content: center;
}

.sorting__type {
  display: block;
  padding: 8px;
  margin-right: 13px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  opacity: 0.3;
  text-decoration: none;
}

.sorting__type:hover {
  opacity: 0.6;
}

.sorting__type:active {
  opacity: 1;
}

.sorting__type--active {
  opacity: 1;
}

.sorting__arrows {
  display: flex;
  position: relative;
  width: 42px;
  margin: 10px 0;
  padding: 0;
  list-style: none;
}

.sorting__arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.sorting__arrow--up {
  top: -7px;
  left: 4px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid #000;
  opacity: 0.2;
}

.sorting__arrow--down {
  top: 3px;
  right: -1px;
  border-bottom: 10px solid transparent;
  border-top: 10px solid #000;
  opacity: 0.2;
}

.sorting__arrow--up:hover,
.sorting__arrow--down:hover {
  opacity: 0.4;
}

.sorting__arrow--up:active,
.sorting__arrow--down:active {
  opacity: 1;
}

.sorting__arrow--active,
.sorting__arrow--active:hover,
.sorting__arrow--active:active {
  opacity: 1;
  cursor: default;
}

.filter-set {
  padding: 0;
  margin: 0;
  border: none;
  border-top: 2px solid #000;
}

.filter-set__title{
  margin-top: 11px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2em;
  letter-spacing: 0.01em;
}

/* Бегунок */
.filer-range__control {
  position: relative;
  padding-top: 17px;
  padding-bottom: 11px;
  width: 200px;
  margin: auto;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding: 0 30px;
  border-radius: 5px;
  overflow: hidden;
}

.filer-range__scale {
  height: 2px;
  background: #dbdbdb;
}

.filer-range__bar {
  height: 2px;
  width: 114px;
  background: #91c92f;
}

.filer-range__toggle {
  position: absolute;
  top: 7px;
  left: -5px;
  width: 4px;
  height: 4px;
  border: 8px solid #fff;
  background: #ababab;
  cursor: pointer;
  border-radius: 50%;
}

.filer-range__toggle--max {
  left: 107px;
}

.filer-range__value {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.filer-range__value label {
  display: inline-block;
  padding: 0;
  margin-right: 31px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #000;
  opacity: 0.2;
}

.filer-range__value input {
  box-sizing: border-box;
  width: 40px;
  padding: 2px 2px;
  border: none;
  background: transparent;
  font-size: 14px;
  line-height: 22px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  text-align: left;
  color: #000;
  outline: none;
}

.filter-set ul {
  padding: 0;
  padding-left: 0;
  padding-top: 1px;
  margin-bottom: 31px;
  list-style-type: none;
}

.filter-set__item {
  position: relative;
  font-size: 14px;
  line-height: 40px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.01em;
}

.filter-bluetooth__radio
.filter-color__check {
  margin-top: 10px;
  width: 19px;
  height: 19px;
}

.filter-color__check + label {
  cursor: pointer;
}

.filter-color__check:not(checked) {
  position: absolute;
  opacity: 0;
  width: 20px;
  height: 20px;
  margin-top: 10px;
}

.filter-color__check:not(checked) + label {
  position: relative;
  padding: 3px 0 3px 36px;
}

.filter-color__check + label::before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: -3px;
  width: 19px;
  height: 19px;
  border: 2px solid #000;
}

.filter-color__check:not(checked) + label::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  display: block;
  width: 10px;
  height: 19px;
  top: -3px;
  left: 9px;
  border: 0;
  border-top: 3px solid #000;
  border-left: 3px solid #000;
  transform: rotate(-135deg);
  box-shadow: inset 2px 0px 1px 0px #eee, -2px 0px 1px #eee;
  transition: all .2s;
  opacity: 0;
}

.filter-color__check:checked + label::after {
  opacity: 1;
}

.filter-bluetooth__radio {
  margin-top: 10px;
  width: 25px;
  height: 25px;
}

.filter-bluetooth__radio + label {
  cursor: pointer;
}

.filter-bluetooth__radio:not(checked) {
  position: absolute;
  opacity: 0;
}

.filter-bluetooth__radio:not(checked) + label {
  position: relative;
  padding: 3px 0 3px 36px;
}

.filter-bluetooth__radio + label::before {
  content: '';
  position: absolute;
  display: block;
  width: 17px;
  height: 17px;
  top: -3px;
  left: -3px;
  border: 4px solid #000;
  border-radius: 50%;
}

.filter-bluetooth__radio:not(checked) + label::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  display: block;
  width: 0px;
  height: 0px;
  top: 5px;
  left: 5px;
  background-color: #000;
  border: 5px solid #000;
  border-radius: 50%;
  transition: all .2s;
  opacity: 0;
}

.filter-bluetooth__radio:checked + label::after {
  opacity: 1;
}

.filter-color__check:hover + label::before,
.filter-color__check:checked:hover + label::after,
.filter-bluetooth__radio:hover + label::before,
.filter-bluetooth__radio:checked:hover + label::after {
  border-color: #606060;
}

.filter-color__check:active + label::before,
.filter-color__check:checked:active + label::after,
.filter-bluetooth__radio:active + label::before,
.filter-bluetooth__radio:checked:active + label::after {
  border-color: #000;
}

.catalog__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -11px;
}

.catalog-item {
  position: relative;
  margin-bottom: 48px;
}

.catalog-item img {
  display: block;
  width: 360px;
  height: 380px;
  margin-bottom: 34px;
}

.catalog-item__info {
  display: flex;
  justify-content: space-between;
  min-height: 40px;
}

.catalog-item__title {
  padding: 0;
  max-width: 260px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2em;
  letter-spacing: 0.01em;
  color: #000;
  text-decoration: none;
}

.catalog-item__price {
  display: block;
  width: 90px;
  margin-top: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: right;
}

.catalog-item__new {
  position: relative;
}

.catalog-item__new::before {
  content: "New";
  position: absolute;
  top: 29px;
  right: 27px;
  width: 56px;
  height: 56px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 56px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.catalog-item__hover {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 380px;
  background-color: rgba(238, 238, 238, 0.7);
  cursor: pointer;
  z-index: 1;
}

.catalog-item img:hover ~ .catalog-item__hover,
.catalog-item img:active ~ .catalog-item__hover,
.catalog-item img:focus ~ .catalog-item__hover,
.catalog-item__hover:hover {
  display: flex;
}

.catalog-item__hover .btn {
  width: 200px;
  margin-top: 170px;
  margin-bottom: 15px;
}

.catalog-item__hover .catalog-item__compare {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.catalog-item__hover .catalog-item__compare:hover {
  color: rgba(0, 0, 0, 1);
}

.catalog-item__hover .catalog-item__compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.paginator {
  padding: 0;
  margin: 0;
  margin-bottom: 70px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #ebebeb;
}

.paginator__link{
  display: block;
  padding: 28px 14px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.2em;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.paginator__link--prev {
  margin-right: 17px;
}

.paginator__link--prev,
.paginator__link--next {
  padding-top: 27px;
  padding-right: 26px;
  padding-bottom: 27px;
  padding-left: 31px;
  color: rgba(0, 0, 0, 1);
}

.paginator__link--prev:hover,
.paginator__link--next:hover {
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 1);
}

.paginator__link--prev:active,
.paginator__link--next:active {
  color: rgba(0, 0, 0, 0.3);
}

.paginator__link--active {
  color: rgba(0, 0, 0, 1);
  cursor: auto;
}

.paginator__link:hover,
.paginator__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.paginator__link:active {
  color: rgba(0, 0, 0, 1);
}

.paginator li:first-child {
  margin-right: auto;
}

.paginator li:last-child {
  margin-left: auto;
}


/* ********************************************************** */
/* *********              Футер                  ************ */
/* ********************************************************** */

.footer-main {
  width: 100%;
  padding-top: 42px;
  background-color: #464646;
  color: #fff;
}

.footer-main__wrap {
  position: relative;
  width: 1160px;
  margin: 0 auto;
}

.footer-main--catalog .footer-main__wrap {
  width: 1164px;
}

.footer-main a {
  text-decoration: none;
}

.footer-main__info {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  margin-bottom: 19px;
}

.footer-main__logo {
  font-size: 48px;
  line-height: 50px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #FFC600;
  cursor: pointer;
}

.footer-main__wrap::after {
  content: "";
  display: block;
  position: relative;
  bottom: 72px;
  left: 1px;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.footer-main__services {
  list-style-type: none;
  width: 510px;
  margin: 0;
  padding: 0;
  padding-top: 2px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-main--catalog .footer-main__services {
   padding-top: 8px;
   margin-bottom: 11px;
}

.footer-main__services li {
  margin-left: 41px;
}

.footer-main__svg,
.footer-main__ico-user,
.footer-main__ico-compare,
.footer-main__ico-cart {
  fill: #ffc600;
}

.footer-main__contacts a,
.footer-main__contacts span,
.footer-main__services a {
  margin-left: 6px;
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #fff;
}

.footer-main__contacts a,
.footer-main__contacts span {
  letter-spacing: 0;
  margin-left: 0;
}

.footer-main__contacts span {
  margin-right: 160px;
}

.footer-main__contacts--catalog span {
  margin-right: 164px;
}

.footer-main__contacts a {
  margin-left: auto;
}

.footer-main__contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 57px;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  width: 434px;
  justify-content: space-between;
  padding-top: 11px;
}

.footer-nav a {
  display: block;
  margin: 0;
  padding: 0px 3px;
  font-size: 18px;
  line-height: 1.2em;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #fff;
  text-transform: uppercase;
}

.footer-main__social {
  margin-left: 505px;
  width: 655px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.footer-main__social--catalog {
  width: 662px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 147px;
}

.footer-social__link {
  display: block;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
}

.footer-social__link--fb {
  background-image: url("../img/svg/fb.svg");
}

.footer-social__link--insta {
  background-image: url("../img/svg/insta.svg");
}

.footer-social__link--tw {
  background-image: url("../img/svg/tw.svg");
}

.footer-social__link:hover {
  opacity: 1;
}

.footer-social__link:active {
  opacity: 0.3;
}

.footer-main__academy-link {
  display: block;
  width: 31px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/svg/logo-html.svg");
}

.footer-main__logo:hover,
.footer-main__services li:hover,
.footer-nav a:hover,
.footer-main__academy-link:hover {
  opacity: 0.6;
}

.footer-main__logo:active,
.footer-main__services li:active,
.footer-nav a:active,
.footer-main__academy-link:active {
  opacity: 0.3;
}

/* ********************************************************** */
/* *********         Модальные окна              ************ */
/* ********************************************************** */
.modal-map {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 960px;
  background-color: #fff;
  border: none;
  min-height: 560px;
  margin-left: -480px;
  margin-top: -277px;
  z-index: 100;
  animation-name: modal__up;
  animation-duration: 0.4s;
}

.modal-map iframe {
 width: 960px;
 height: 560px;
 border: 0;
}

.modal-map--show {
  display: block;
}

.modal-feedback {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 960px;
  background-color: #fff;
  border: none;
  min-height: 554px;
  margin-left: -480px;
  margin-top: -277px;
  z-index: 100;
  animation-name: modal__up;
  animation-duration: 0.4s;
}

.modal-feedback--show {
  display: block;
}

.modal__shadow {
  position: absolute;
  top: 40px;
  left: 0;
  width: 960px;
  height: 430px;
  background: #fff;
  box-shadow: 0 20px 40px 0px rgba(0, 0, 0, 0.75);
  z-index: -10;
}

.modal__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 760px;
  padding: 100px;
  padding-top: 96px;
  padding-bottom: 78px;
  color: #000;
  background: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  z-index: -5;
}

.modal-btn__close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  background-color: #f0c52e;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  opacity: 0.6;
  cursor: pointer;
}

.modal-btn__close:hover,
.modal-btn__close:focus {
  opacity: 1;
  outline: none;
}

.modal-btn__close:active {
  opacity: 0.3;
}

.modal-btn__close::before,
.modal-btn__close::after {
  content: "";
  position: absolute;
  top: 26px;
  left: 12px;
  width: 31px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transform: rotate(45deg);
}

.modal-btn__close::after {
  transform: rotate(-45deg);
}

.modal-form__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -3px;
}

.modal-form label {
  display: block;
  margin-bottom: 45px;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  color: #000;
}

.modal-form__wrapper .modal-form label {
  margin-bottom: 44px;
}

.modal-form__field {
  display: block;
  box-sizing: border-box;
  width: 360px;
  margin-top: 10px;
  padding: 14px 18px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #464646;
  border: none;
  background-color: #f2f2f2;
  resize: none;
}

.modal-form__field:hover {
  background-color: #eaeaea;
}

.modal-form__field:focus {
  background-color: #fff;
  outline: 3px solid #f0c52e;
}

.modal__overlay {
  position: fixed;
  z-index: 50;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
}

.modal__overlay--show {
  display: block;
}

/* ********************************************************** */
/* *********          Классы для JS              ************ */
/* ********************************************************** */
.modal-form__invalid {
  background-color: #f6dada;
}

@keyframes modal__up {
  0%   {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  50%  {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
